.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.Posts a {
  color: #000000;
  text-decoration: none;
}

.Posts a:hover,
.Posts a:active {
  color: #fff;
}
